<div class="container">
    <h1 > Information personnelles </h1>

    <div>
        <h3 mat-dialog-title>Nom : {{e.nom}}</h3>
        <h3 mat-dialog-title>Prénom : {{e.prenom}}</h3>
        <h3 mat-dialog-title>Date Naissance :  {{e.datenaissance}}</h3>
        <h3 mat-dialog-title>Cin :  {{e.cin}}</h3>
        <mat-divider></mat-divider>
        <h3 mat-dialog-title>Apogée : {{e.apogee}}</h3>
        <h3 mat-dialog-title>Code Massar : {{e.codeMassar}}</h3>
        <mat-divider></mat-divider>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Commantaire " class="form-control"  [(ngModel)]="comment"
             ></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" class ="b"(click) ="reclamation()"> reclamer</button>
    </div>



</div>