.container{
    margin: 5% 0% 0% 20%;
    width: 50%;
  }
  .example-full-width {
    width: 100%;
    margin-top: 15px;
  }
  .b{
    margin-top: 15px;
  }
  .example-card {
    width: 100%;
    padding: 3%;

  }
  
  