<div class="container">
    
    <mat-card class="example-card">
        <mat-card-title>Informations personnelles</mat-card-title>
        <mat-divider></mat-divider>

    <div>
        <form  [formGroup]="input" (submit)="reclamation()" >
            <br/>
            <b><label class="labelClass"> Nom :</label></b> {{e.nom}}<br/><br/>
            <b><label class="labelClass"> Prénom :</label></b> {{e.prenom}}<br/><br/>
            <b><label class="labelClass"> Date Naissance :</label></b>{{e.datenaissance}}<br/><br/>
            <b><label class="labelClass">Cin : </label></b>{{e.cin}}<br/><br/>
            <mat-divider></mat-divider><br/>
            <b><label class="labelClass">Apogée : </label></b>{{e.apogee}}<br/><br/>
            <b><label class="labelClass">Code Massar : </label></b>{{e.codeMassar}}<br/><br/>
        <h2 mat-dialog-title></h2>
        <mat-divider></mat-divider>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Commantaire " [(ngModel)]="comment" formControlName="commentaire"
             ></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" class="b" type="submit" [disabled]="input.invalid">Réclamer</button>
        </form>
    </div>
</mat-card>



</div>