<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport color="primary"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <img mat-card-image src="../../../assets/img/logo.jpeg" alt="" class="logo-wrapper"/>
    <h1 ></h1>
    <mat-accordion   *ngFor="let m of liste | keyvalue" >
      <mat-expansion-panel class="buttom">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{m.key}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let i of m.value">
          <!--<mat-icon aria-label="Side nav toggle icon">{{i.icon}}</mat-icon>           -->
          <button mat-raised-button class="ithem" (click)="action(i)"><b>{{i.titre}}</b></button>    
        </ng-container>
      </mat-expansion-panel>
      <br/>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Etudiant</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="right">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>deconnecter</span>
        </button>
        
        
      </mat-menu>
    </mat-toolbar>
    <app-reclamation-note *ngIf="inote"></app-reclamation-note>
    <app-reclamation-pedagogique *ngIf="ipeda"></app-reclamation-pedagogique>
    <app-etudiant-demandes *ngIf="idemande"></app-etudiant-demandes>
    <app-etudiant-reclamations *ngIf="ireclamation"></app-etudiant-reclamations>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
