<div class="container">
    <mat-card class="example-card">
    <mat-card-title>Reclamer une Note</mat-card-title><br/>
    <mat-divider></mat-divider>
    <p>Cette page est consacrée pour effectuer une réclamation concernant la note.
        Pour réaliser la demande commencer par choisir le module puis la partie du module que 
        vous réclamez ensuite tapez la note sur PV et la note que vous réclamez enfin valider 
        votre demande.</p>
    <div class="mydiv">
        <form  [formGroup]="form" (submit)="onSubmit()" class="example-form">
            <div class="controles-container">
            <mat-form-field class="inputs">
                <mat-label>Numero module</mat-label>
                <mat-select  formControlName ="module" [(ngModel)]="rec.module">
                    <mat-option *ngFor="let i of liste" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputs">
                <mat-label>Partie </mat-label>
                <mat-select  formControlName="partie" [(ngModel)]="rec.partie">
                    <mat-option value="Partie 1 ">Partie 1</mat-option>
                    <mat-option value="Partie 2 ">Partie 2</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="inputs">
                <input matInput placeholder="Note sur le PV" type ="number"  
                min="0" max="20" formControlName="notePV" [(ngModel)]="rec.notePV">
              </mat-form-field><br/>
              <mat-form-field class="inputs">
                <input matInput placeholder="Note réclamée" type ="number" 
                 min="0" max="20" formControlName="note" [(ngModel)]="rec.note">
              </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Valider</button>
            </div>
        </div>
        </form>
    </div>
    </mat-card>
</div>